In [ ]:
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
fileObject = open('test.txt','w')
fileObject.write(test1)

44

In [ ]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [3]:
fileObject = open('test.txt', 'r')
test2 = fileObject.readline()
print(test2)

This is a test of the emergency text system,

In [4]:
if test1==test2:
    print('Both are same')

Both are same

In [ ]:
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [5]:
import csv
rows = [ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv', 'w', newline ='') as file:
    w = csv.writer(file)
    w.writerows(rows)

In [ ]:
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

In [ ]:
5. Read books.csv and insert its data into the book table.

In [ ]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

In [ ]:
6. Select and print the title column from the book table in alphabetical order.

In [ ]:
cursor.execute('select title from books order by title asc')
cursor.fetchall()

In [ ]:
7. From the book table, select and print all columns in the order of publication.

In [ ]:
cursor.execute('select title, author, year from books order by year')
cursor.fetchall()

In [ ]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [ ]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

In [ ]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)